table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
 td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th{
    text-align: left;
    padding: 8px;
    background-color:  #F8F0E3;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  .genre-filter{
    /* width: 100%; */
    text-align: left;
    height: 180px;
    background-color: #F8F0E3;
    margin-bottom: 50px;
    padding: 10px 10px;
  }
  .genre-filter button{
    margin-right: 5px;
  }